Use InetAddress/InetAddressType from RFC 4001. 

Per RFC 4181:

```
The IpAddress type described in RFC 2578 Section 7.1.5 SHOULD NOT be
used in new MIB modules.  The InetAddress/InetAddressType textual
conventions [RFC4001] SHOULD be used instead.
```
